astroid==2.0.4
autopep8==1.4.2
beautifulsoup4==4.6.0
certifi==2018.10.15
chardet==3.0.4
cycler==0.10.0
dukpy==0.2.2
future==0.17.1
idna==2.7
isort==4.3.4
javascripthon==0.10
Jinja2==2.10
jupyter-echarts-pypkg==0.1.2
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
lml==0.0.2
lxml==4.2.5
macropy3==1.1.0b2
MarkupSafe==1.1.0
matplotlib==3.0.1
mccabe==0.6.1
MusicBoxApi==1.0.9
Naked==0.1.31
NetEaseMusicApi==1.0.3
numpy==1.15.3
pandas==0.23.4
Pillow==5.3.0
prettytable==0.7.2
pycodestyle==2.4.0
pycrypto==2.6.1
pycryptodome==3.7.2
pyecharts==0.5.11
pyecharts-javascripthon==0.0.6
pyecharts-jupyter-installer==0.0.3
pylint==2.1.1
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
requests==2.20.0
scipy==1.1.0
seaborn==0.9.0
shellescape==3.4.1
six==1.11.0
tf==1.0.0
urllib3==1.24
wrapt==1.10.11
